<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
	<%= image_tag @product.attachments.first.photo.url(:medium) if    @product.attachments.present? %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Age:</b>
  <%= @product.age %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render "comments/new_comment_form" %>

<% @comments.each do |comment|%>
<p>
	<span> <%= comment.created_at %> </span>
</p>
<p>
	<span> Comment:	</span>
	<%= comment.comment %>
</p>
<% end %>